<ol>
  <li>DONE: Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <li>DONE: Output the username property via String Interpolation (in a paragraph below the input)</li>
  <li>DONE: Add a button which may only be clicked if the username is NOT an empty string</li>
  <li>DONE: Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<input type="text" [(ngModel)]="userName" class="form-control">
<p style="height:40px">{{ userName }}</p>

<!-- <button
  class="form-control"
  type="button"
  [disabled]="isEmpty()"
  >Reset Username</button> -->

  <!-- <button
    class="form-control"
    type="button"
    [disabled]="!userName"
    >Reset Username</button> -->

    <button
      class="form-control"
      type="button"
      [disabled]="!userName"
      (click)="userName=''"
      >Reset Username</button>
