<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>DONE: Add A button which says 'Display Details'</li>
        <li>DONE: Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>DONE: Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>DONE: Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>

      <!-- <button (click)="secretOut == false ? secretOut = true : secretOut = false" class="btn btn-primary" type="button">Display Secrets</button> -->
      <button (click)="switchSecretStatus()" class="btn btn-primary" type="button">Display Secrets</button>
      <span style="height:40px; margin:10px;" *ngIf="secretOut" >Password = Starfish</span>
      <ul>
        <!-- <li
          *ngFor="let log of logs;"
          [ngStyle]="{ backgroundColor: logs.indexOf(log) > 5 ? 'blue' : 'white' }"
          [ngClass]="{ bgwhite: logs.indexOf(log) > 5 ? true : false }">
          Log: {{ logs.indexOf(log) }} {{ log }}
        </li> -->
        <li
          *ngFor="let log of logs; let i = index"
          [ngStyle]="{ backgroundColor: i > 5 ? 'blue' : 'white' }"
          [ngClass]="{ bgwhite: i > 5 ? true : false }">
          Log: {{ i }} {{ log }}
        </li>
      </ul>

    </div>
  </div>
</div>
